* {
  box-sizing: border-box;

}

body {
  width: 480px;
  margin: 0 auto; 
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    max-width: 767px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 960px;
    margin: 0 auto; 
  }
}